.container {
    margin: 20px 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.input {
    width: auto;
    padding: 8px;
    border: 1px solid #a8a7a7;
    border-radius: 4px;
    font-size: 14px;
}